* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202124;
    color: #bdc1c6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 0.85em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

nav,
section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.whiteLink {
    color: white;
}

.greyLink {
    color: lightgrey;
}

a {
    color: darkgrey;
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 14px;
}

.headerText {
    color: white;
    font-size: 5em;
}

.searchBar {
    display: flex;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    gap: 15px;
    border: 1px solid darkgray;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover {
    border-color: transparent;
    background: #334155;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.iconButton {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
}

input {
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;
}

.searchButtonContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchButtonContainer button {
    padding: 10px 14px;
    border-radius: 4px;
    background: #334155;
    border: 1px solid transparent;
    color: white;
}

.searchButtonContainer button:hover {
    border: 1px solid darkgray;
}

footer>section {
    background: #111111;
    padding: 15px;
}

footer>section:first-child {
    display: flex;
    justify-content: center;
}

footer>section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (min-width: 540px) {
    footer>section:last-child {
        flex-direction: row;
    }
}